@using Microsoft.Extensions.Localization
@inject IStringLocalizer<biznus_web.Controllers.AboutController> localizer
@{
    ViewData["Title"] = "About";
}

<!-- Герой секция -->
<div class="hero-section about-hero">
    <div class="container">
        <div class="hero-wrapper">
            <h1 class="hero-heading anout-hero-heading">@Html.Raw(localizer["YourAdventureAwaits"])</h1>
            <p class="hero-paragraph">@(localizer["AboutDescription"])</p>
            <div class="hero-button-wrapper">
                <a href="/shop" class="btn light outline w-button">@(localizer["ShopMerch"])</a>
            </div>
        </div>
    </div>
</div>

<!-- Секция "Почему Acme Outdoors?" -->
<div class="content-section why-acme-sections">
    <div class="container">
        <div class="about-top-block">
            <div class="why-acme-block">
                <div class="why-acme-small-text">@(localizer["WhyAcmeOutdoors"])</div>
                <h2 class="why-acme-heading">@(localizer["BestInBusiness"])</h2>
                <p class="why-acme-paragraph">@(localizer["BestInBusinessDescription"])</p>
            </div>
        </div>
    </div>
</div>

<!-- Секция преимуществ -->
<div class="content-section">
    <div class="container">
        <div class="about-columns-wrapper">
            <div class="about-column">
                <img src="~/images/verified.svg" alt="Warranty Icon" class="image" />
                <h3>@(localizer["LifetimeWarranty"])</h3>
                <p>@(localizer["LifetimeWarrantyDescription"])</p>
            </div>
            <div class="about-column">
                <img src="~/images/cart-1.svg" alt="Shopping Cart Icon" class="image" />
                <h3>@(localizer["ShoppingExperience"])</h3>
                <p>@(localizer["ShoppingExperienceDescription"])</p>
            </div>
            <div class="about-column">
                <img src="~/images/transport.svg" alt="Delivery Icon" class="image" />
                <h3>@(localizer["OnTimeDelivery"])</h3>
                <p>@(localizer["OnTimeDeliveryDescription"])</p>
            </div>
            <div class="about-column">
                <img src="~/images/chat-alt.svg" alt="Service Icon" class="image" />
                <h3>@(localizer["BestInClassService"])</h3>
                <p>@(localizer["BestInClassServiceDescription"])</p>
            </div>
        </div>
    </div>
</div>

<!-- Секция "Встретьте владельцев" -->
<div class="content-section">
    <div class="container shop-local-container">
        <div class="content-wrapper">
            <div class="meet-the-owners-wrapper">
                <div class="meet-the-owners-left"></div>
                <div class="meet-the-owners-right">
                    <div class="owners-rich-text w-richtext">
                        <h2>@(localizer["MeetTheOwners"])</h2>
                        <p>@Html.Raw(localizer["OwnersStory"])</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Биографии владельцев -->
<div class="content-section">
    <div class="container">
        <div class="owner-bios-wrapper">
            <div class="owner-bio">
                <div class="owner-avatar-wrapper">
                    <img src="~/images/john-20doe.png" alt="Co-Owner John Doe" />
                </div>
                <h3>@(localizer["JohnDoe"])</h3>
                <p class="owner-bio-paragraph">@(localizer["OwnerBio"])</p>
            </div>
            <div class="owner-bio">
                <div class="owner-avatar-wrapper">
                    <img src="~/images/jane-20doe.png" alt="Co-Owner Jane Doe" />
                </div>
                <h3>@(localizer["JaneDoe"])</h3>
                <p class="owner-bio-paragraph">@(localizer["OwnerBio"])</p>
            </div>
        </div>
    </div>
</div>

<!-- Секция помощи -->
<div class="hero-section contact-hero">
    <div class="container">
        <div class="hero-wrapper">
            <h1 class="hero-heading anout-hero-heading">@(localizer["NeedHelp"])</h1>
            <p class="hero-paragraph">@(localizer["NeedHelpDescription"])</p>
            <div class="hero-button-wrapper">
                <a href="/contact" class="btn light outline w-button">@(localizer["ContactSupport"])</a>
            </div>
        </div>
    </div>
</div>
